* {
  border-radius: 0;
  font-family: Iosevka NF;
  font-weight: 400;
  font-size: 14px;
  min-height: 0;
  padding: 0;
  margin: 1px 0 0 0; /* necessary for border */
}

window#waybar {
  background: #1f2335;
  color: white;

  border-style: solid;
  border-width: 1px 0 0 0;
  border-color: #444b6a;

  /* for gradient border, use:
  border-color: transparent;
  border-image: linear-gradient(to right, #73daca, #bb9af7) 1; */
}

#workspaces {
  background: #1f2335;
}

#workspaces button {
  margin: -1px 0 0 0;
  padding: 0px 8px;
  color: #c0caf5;
  border-radius: 2px;
  /* min-width: 100px; */
}

#workspaces button.active {
  background-color: #7aa2f7;
  color: #24283b;
}

#workspaces button:hover {
  background-color: #7dcfff;
  color: #24283b;
}

#submap,
#temperature.cpu,
#custom-gpu,
#cpu,
#memory,
#disk,
#network,
#clock,
#custom-weather,
#custom-dunst,
#wireplumber,
#battery {
  padding: 0px 5px;
  margin: 0;
  /* background-image: linear-gradient(180deg,#2a3152, #1f2335); */
  background: #1f2335;
  background-size: cover;
  background-position: center;
}

#temperature.cpu {
  color: #bb9af7;
}

#custom-gpu {
  color: #9d7cd8;
}

#cpu {
  color: #7dcfff;
}

#memory {
  color: #7aa2f7;
}

#disk {
  color: #6183bb;
}

#network {
  color: #2ac3de;
}

#clock {
  color: #7dcfff;
}

#wireplumber {
  color: #e0af68;
}

#battery,
#battery.charging {
  color: #9ece6a;
}

#battery.warning:not(.charging),
#battery.critical {
  background-color: #f7768e;
  color: black;
  border-radius: 5px 5px 5px 5px;
}

#tray {
  background-color: #1f2335;
  padding: 0 2px;
}

#tray>* {
  padding: 0 2px;
  margin: 0 2px;
}
