[Unit]
Description=Librespot (an open source Spotify client)
Documentation=https://github.com/librespot-org/librespot
Documentation=https://github.com/librespot-org/librespot/wiki/Options
Wants=network-online.target sound.target
After=network-online.target sound.target

[Service]
Restart=always
RestartSec=10
ExecStart=librespot --name "%u@%H" -b 320 -c /home/vinicius/.cache/librespot --format F32 --initial-volume 65 --dither none

[Install]
WantedBy=default.target
